<%= form_for @tea, :url => teas_path, :html => { :multipart => true } do |f| %>
  <% if @tea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tea.errors.count, "error") %> prohibited this tea from being saved:</h2>

      <ul>
      <% @tea.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend>Фото</legend>
       <div class="field">
        <%= f.file_field :photo %>
       </div>
  </fieldset>


   <fieldset>
    <legend>Названия</legend>
        <table>
          <tr>
            <td>
              <div class="field">
                <%= f.label :hanzi_name %><br />
                <%= f.text_field :hanzi_name %>
              </div>
            </td>
            <td>
              <div class="field">
                <%= f.label :transliter_name %><br />
                <%= f.text_field :transliter_name %>
              </div>
            </td>
            <td>
              <div class="field">
                <%= f.label :rus_name %><br />
                <%= f.text_field :rus_name %>
              </div>
            </td>
          </tr>
        </table>
  </fieldset>

  <fieldset>
    <legend>Цена</legend>
       <div class="field">
        <%= f.number_field :price %>грн.
       </div>
  </fieldset>

   <fieldset>
    <legend>Наличие</legend>
       <div class="field">
          <%= f.check_box :presence %>
        </div>
  </fieldset>


  <fieldset>
    <legend>Место выращивания</legend>
        <div class="field">
          <%= f.select( :place_id, Place.find(:all).collect {|u| [u.name, u.id]}, :promt => 'Выбери место выращивания') %>
        </div>
        <div class="actions">
          <%= link_to 'Добавь новое место выращивания', new_place_path %>
        </div>
  </fieldset>

  <fieldset>
    <legend>Тип чая</legend>
        <div class="field">
          <%= f.select( :typetea_id, Typetea.find(:all).collect {|u| [u.name, u.id]}, :promt => 'Выбери тип чая') %>
        </div>
        <div class="actions">
          <%= link_to 'Добавь новый тип чая', new_typetea_path %>
        </div>
  </fieldset>

  <fieldset>
    <legend>Год сбора урожая</legend>
        <div class="field">
          <%= f.select( :harvest_id, Harvest.find(:all).collect {|u| [u.name, u.id]}, :promt => 'Выбери год урожая') %>
        </div>
        <div class="actions">
          <%= link_to 'Добавь другой год урожая', new_harvest_path %>
        </div>
  </fieldset>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
