<h1>Китайский чай:</h1>  

<% @teas.each do |tea| %>
    <table class="roundborder">
      <tr>
        <td class="cell_9"><%= image_tag tea.photo.url(:small) %></td>
        <td class="cell_1"><%= tea.hanzi_name %></td>
        <td class="cell_2"><%= tea.transliter_name %></td>
        <td class="cell_3"><%= tea.rus_name %></td>
        <td class="cell_4"><%= tea.price %></td>
        <td class="cell_5"><%= tea.typetea.name %></td>
        <td class="cell_6"><%= tea.presence %></td>
        <td class="cell_7"><%= tea.place.name %></td>
        <td class="cell_8"><%= tea.harvest.name %></td>
        <td class="cell_10"><%= link_to 'Edit', edit_tea_path(tea) %></td>
        <td class="cell_10"><%= link_to 'Destroy', tea, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    </table>
    <br />
    
    <% end %>
    
   <br />

   

<div >
    <p class="buttonnewtea">
        <%= link_to "Добавить новый чай", new_tea_path, :class => "button"  %>
    </p>
    
</div>

       



