<h1>Listing typeteas</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @typeteas.each do |typetea| %>
  <tr>
    <td><%= typetea.name %></td>
    <td><%= link_to 'Show', typetea %></td>
    <td><%= link_to 'Edit', edit_typetea_path(typetea) %></td>
    <td><%= link_to 'Destroy', typetea, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Typetea', new_typetea_path %>
