<h1>Listing harvests</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @harvests.each do |harvest| %>
  <tr>
    <td><%= harvest.name %></td>
    <td><%= link_to 'Show', harvest %></td>
    <td><%= link_to 'Edit', edit_harvest_path(harvest) %></td>
    <td><%= link_to 'Destroy', harvest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Harvest', new_harvest_path %>
