/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin-left: 10%;
  margin-right: 10%;
  background: url("/assets/different_tea.jpg") repeat;
}

.top {
	color: #333;
	box-shadow: 0 0 5px;
	height: 150px;
	border-bottom: 1px  #000000;
	width: 100%;
	background-color: #00FFFF;
	margin-top: -2%;	
	background: linear-gradient(to bottom, #00EE00, #8DEEEE);
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.set1 {
	padding: 20px;
	width: 75%;
	text-align: center;
	font: 12pt sans-serif;
}

.set2 {
	text-align: right;
	padding: 20px;
	color: #00008B;
	font-size: 70%;
}

.roundborder {
	border: 1px #00BFFF;
	box-shadow: 0 0 5px;
	width: 100%;
	border-radius: 20px;
	height: 150px;
	border-spacing: 0px;
	background: linear-gradient(to top, #E0FFFF, #FFFFE0);
}

.cell_1 {
	width: 70px;
	text-align: center;


}

.cell_2 {
	width: 70px;
	text-align: center;
}

.cell_3 {
	width: 70px;
	text-align: center;
}

.cell_4 {
	width: 70px;
	text-align: center;
}

.cell_5 {
	width: 70px;
	text-align: center;
}

.cell_6 {
	width: 70px;
	text-align: center;
}

.cell_7 {
	width: 70px;
	text-align: center;
}

.cell_8 {
	width: 70px;
	text-align: center;
}

.cell_9 {
	width: 100px;
	text-align: center;
}

.cell_10 {
	width: 50px;
	text-align: center;
}

.buttonnewtea {
	background-color: #C71585;
	border-radius: 5px;
	border: 1px #00BFFF;
	box-shadow: 0 0 5px;
	width: 25%;
	border-radius: 10px;
	height: 35px;
	border-spacing: 0px;
	background: linear-gradient(to top, #E0FFFF, #FFFFE0);
	text-align: center;
	vertical-align: middle;

}

.metrika {
	text-align: center;
}