<!DOCTYPE html>
<html>
<head>
  <title>Cha</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<table class="top"> 
		<tr>
			<td class="set1">
				<h1>ОПТОВАЯ ТОРГОВЛЯ КИТАЙСКИМ ЧАЕМ</h1>
				
			</td>
			<td class="set2">
				<p>т. 095-435-14-84</p>
				<p>т. 063-28-54-053</p>
				<p>skype: dima_ko48</p>
				<p>e-mail: dkonst@i.ua</p>
				<p><h1>Доставка по Украине</h1></p>
			</td>
		</tr>
	</table>

<%= yield %>
<div class="metrika">
	<div>
		<!-- Yandex.Metrika informer -->
		<a href="http://metrika.yandex.ua/stat/?id=23748007&amp;from=informer"
		target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/23748007/3_1_F8C923FF_D8A903FF_1_pageviews"
		style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: дані за сьогодні  (перегляди, візити та унікальні відвідувачі)" onclick="try{Ya.Metrika.informer({i:this,id:23748007,lang:'ua'});return false}catch(e){}"/></a>
		<!-- /Yandex.Metrika informer -->

		<!-- Yandex.Metrika counter -->
		<script type="text/javascript">
		var yaParams = {/*Тут параметри візиту*/};
		</script>

		<script type="text/javascript">
		(function (d, w, c) {
		    (w[c] = w[c] || []).push(function() {
		        try {
		            w.yaCounter23748007 = new Ya.Metrika({id:23748007,
		                    webvisor:true,
		                    clickmap:true,
		                    trackLinks:true,
		                    accurateTrackBounce:true,params:window.yaParams||{ }});
		        } catch(e) { }
		    });

		    var n = d.getElementsByTagName("script")[0],
		        s = d.createElement("script"),
		        f = function () { n.parentNode.insertBefore(s, n); };
		    s.type = "text/javascript";
		    s.async = true;
		    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

		    if (w.opera == "[object Opera]") {
		        d.addEventListener("DOMContentLoaded", f, false);
		    } else { f(); }
		})(document, window, "yandex_metrika_callbacks");
		</script>
		<noscript><div><img src="//mc.yandex.ru/watch/23748007" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
		<!-- /Yandex.Metrika counter -->
	</div>
	<div>
		<table cellpadding=0 cellspacing=0 width=81 height=33 border=1><tr><td height=33 width=81><a href=http://www.uralklimat.ru/records/69381986/start.php><img width=81 height=33 src=http://www.uralklimat.ru/records/69381986/counter.php?rnd=<?=rand()?></a></td></tr></table>
	</div>	
	<div>
		<!--Openstat-->
		<span id="openstat2353986"></span>
		<script type="text/javascript">
		var openstat = { counter: 2353986, next: openstat, track_links: "all" };
		(function(d, t, p) {
		var j = d.createElement(t); j.async = true; j.type = "text/javascript";
		j.src = ("https:" == p ? "https:" : "http:") + "//openstat.net/cnt.js";
		var s = d.getElementsByTagName(t)[0]; s.parentNode.insertBefore(j, s);
		})(document, "script", document.location.protocol);
		</script>
	<!--/Openstat-->
	</div>	
</div>

</body>
</html>
